.course-card.BEGINNER{
  background-color: green;
}
.course-card.INTERMEDIATE{
  background-color: orange;

}
.course-card.ADVANCED{
  background-color: lightsalmon;
}
.course-card.EXPERT{
  background-color: violet;
}
