.course-card.BEGINNER{
  background-color: green;
}
.course-card.INTERMEDIATE{
  background-color: orange;

}
.course-card.ADVANCED{
  background-color: rgb(158, 49, 0);
}
.course-card.EXPERT{
  background-color: violet;
}

.category{
  color: rgb(148, 1, 148);
  background-color: rgb(114, 111, 111);
}
