.course-card.BEGINNER{
  background-color: green;
}
.course-card.INTERMEDIATE{
  background-color: orange;

}
.course-card.ADVANCED{
  background-color: rgb(158, 49, 0);
}
.course-card.EXPERT{
  background-color: violet;
}

.category{
  color: white;
}
